#game-grid {
    width: 520px;
    height: 1040px;

    border-style: solid;

    background-color: #fff;

    display: flex;
    flex-wrap: wrap;
}

.grid-block {
    width: 50px;
    height: 50px;

    border-style: solid;
    border-color: #808080;
    border-width: 1px;

    background-color: #000;
}